"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
" Do incremental searching.
set incsearch

inoremap jk <Esc>

" Find more examples here: https://jb.gg/share-ideavimrc
" 显示当前模式
set showmode
" 共享系统粘贴板
set clipborad=unamed
" 打开行号
set number
" 打开相对行号
" set relativenumber
" 设置命令历史记录条数
set history=2000
" 开启语法高亮功能
syntax enable
" 允许用指定语法高亮配色方案替换默认方案
syntax on
" 模式搜索实时预览,增量搜索
set incsearch
" 设置搜索高亮
set hlsearch
" 忽略大小写 (该命令配合smartcase使用较好，否则不要开启)
set ignorecase
" 模式查找时智能忽略大小写
set smartcase
" vim自身命令行模式智能补全
set wildmenu
" 总是显示状态栏
set laststatus=2
" 显示光标当前位置
set ruler
" 高亮显示当前行/列
set cursorline
"set cursorcolumn
" 禁止折行
set nowrap
" 将制表符扩展为空格
set expandtab
" 设置编辑时制表符占用空格数
set tabstop=8
" 设置格式化时制表符占用空格数
set shiftwidth=4
" 让 vim 把连续数量的空格视为一个制表符
set softtabstop=4
" 基于缩进或语法进行代码折叠
set foldmethod=indent
set foldmethod=syntax
" 启动 vim 时关闭折叠代码
" set nofoldenable
" 开启surround
set surround
" 开启easymotion
set easymotion
" 留五行空白
set so 5
" 中文输入法问题
set keep-english-in-normal-and-restore-in-insert

inoremap jk <esc>
noremap <leader>f :action Find<Enter>
noremap <leader>r :action Replace<Enter>
noremap <leader>g :action FindInPath<cr>

" 设置leader键
let mapleader=" "
nnoremap <SPACE> <Nop>

nnoremap <leader>w <c-w>
noremap <leader>e $
noremap <leader>q :q<Enter>

"vnoremap <leader><s-1> "1y
vnoremap <leader>y "+y
noremap <leader>p "+p

vnoremap <leader>x "xy
noremap <leader>X "xp


inoremap <s-1> !

noremap <leader>5 :source ~/.ideavimrc

" noremap <c-a> ggvG
"nnoremap <leader>1 :action com.mnw.tabmover.actions.MoveFocusToNextWindow<Enter>     
"nnoremap <leader>2 :action com.mnw.tabmover.actions.MoveFocusToPreviousWindow<Enter> 
"nnoremap <leader>3 :action com.mnw.tabmover.actions.MovePinnedTabsToFirst<Enter>     

" tab Left
nnoremap <leader>hh :action com.mnw.tabmover.actions.MoveTabUpAction <Enter>           
" tab Right
nnoremap <leader>ll :action com.mnw.tabmover.actions.MoveTabDownAction <Enter>         



"nnoremap <leader>f :action com.mnw.tabmover.actions.MoveTabToFirstAction<Enter>      
"nnoremap <leader>f :action com.mnw.tabmover.actions.MoveTabToLastAction<Enter>       
"nnoremap <leader>f :action com.mnw.tabmover.actions.MoveTabToNewWindow<Enter>        

"nnoremap <leader>1 :action com.mnw.tabmover.actions.MoveTabToNextSplitter<Enter>
nnoremap <leader>kk :action com.mnw.tabmover.actions.MoveTabToNextWindow<Enter>       

"nnoremap <leader>2 :action com.mnw.tabmover.actions.MoveTabToPreviousSplitter<Enter>
nnoremap <leader>jj :action com.mnw.tabmover.actions.MoveTabToPreviousWindow<Enter>   

" move To Up
nnoremap <leader>tk :action TabShiftActions.ShiftUp<Enter> 
" move To left
nnoremap <leader>th :action TabShiftActions.ShiftLeft<Enter> 
" move To Down
nnoremap <leader>tj :action TabShiftActions.ShiftDown<Enter> 
" move To right
nnoremap <leader>tl :action TabShiftActions.ShiftRight<Enter> 


nnoremap sk :action TabShiftActions.StretchUp<Enter>
nnoremap sh :action TabShiftActions.StretchLeft<Enter> 
nnoremap sj :action TabShiftActions.StretchDown<Enter> 
nnoremap sl :action TabShiftActions.StretchRight<Enter> 
nnoremap <leader>- :action TabShiftActions.StretchRight<Enter> :action TabShiftActions.StretchDown<Enter> 
nnoremap <leader>= :action TabShiftActions.StretchLeft<Enter> :action TabShiftActios.StretchUp<Enter> 


nnoremap <leader>u- :action TabShiftActions.StretchRight<Enter> :action TabShiftActions.StretchDown<Enter> :action TabShiftActions.StretchRight<Enter> :action TabShiftActions.StretchDown<Enter> :action TabShiftActions.StretchRight<Enter> :action TabShiftActions.StretchDown<Enter> :action TabShiftActions.StretchRight<Enter> :action TabShiftActions.StretchDown<Enter> :action TabShiftActions.StretchRight<Enter> :action TabShiftActions.StretchDown<Enter> :action TabShiftActions.StretchRight<Enter> :action TabShiftActions.StretchDown<Enter> 
nnoremap <leader>u= :action TabShiftActions.StretchLeft<Enter> :action TabShiftActios.StretchUp<Enter> :action TabShiftActions.StretchLeft<Enter> :action TabShiftActios.StretchUp<Enter> :action TabShiftActions.StretchLeft<Enter> :action TabShiftActios.StretchUp<Enter> :action TabShiftActions.StretchLeft<Enter> :action TabShiftActios.StretchUp<Enter> :action TabShiftActions.StretchLeft<Enter> :action TabShiftActios.StretchUp<Enter> :action TabShiftActions.StretchLeft<Enter> :action TabShiftActios.StretchUp<Enter> 
"nnoremap <leader>f :action com.mnw.tabmover.actions.ShowTabMoveActions<Enter>        
"nnoremap <leader>f :action com.mnw.tabmover.actions.TogglePinOnAllOpenTabsAction<Enter>
" let g:WhichKeyDesc_windows_maximize = "<leader>wm maximize"

 
